body {
    height: 100vh;
    padding: 100px;
    padding-top: 10px;
}

body h1 {
    font-size: 40px;
}

* {
    font-family: Inconsolata, monospace;
}

.pitch {
    position: relative;
    margin: auto;
    width: 557px;
    height: 1000px;
    padding-top: 60px;
}
.pitch_img img {
    width: 100%;
    display: block;
}

.players {
    position: absolute;
}

.players_circle {
    border-radius: 50px;
    background-color: red;
    height: 30px;
    width: 30px;
    margin: auto;
}

.players p {
    text-align: center;
    font-family: Inconsolata, monospace;
}



#forward1 {
    top: 230px;
    left:130px;
}

#forward2 {
    top: 230px;
    left:350px;
}

#midfielder1 {
    top: 400px;
    left: 60px;
}

#midfielder2 {
    top: 500px;
    left: 200px;
}

#midfielder3 {
    top: 500px;
    left: 325px;
}

#midfielder4 {
    top: 400px;
    left: 450px;
}
#defender1 {
    top: 700px;
    left: 50px;
}
#defender2 {
    top: 760px;
    left: 200px;
}
#defender3 {
    top: 760px;
    left: 300px;
}
#defender4 {
    top: 690px;
    left: 450px;
}
#goalkeeper {
    top: 830px;
    left: 250px;
}
h1 {
    text-align: center;
}