body {
    height: 100vh;
}

* {
    font-family: Inconsolata, monospace;
}



.pitch {
    position: relative;
    margin: auto;
    width: clamp(100px, 80%, 1200px);
    height: clamp(755px, 35%, 3000px);
}

.pitch_img {
    position: absolute;
    height: 100%;
    width: 100%;
}

.players {
    position: absolute;
    height: 150px;
    width: 150px;
}

.players_circle {
    border-radius: 50px;
    background-color: red;
    height: 30px;
    width: 30px;
    margin: auto;
}

.players p {
    text-align: center;
    font-family: Inconsolata, monospace;
}



#forward1 {
    top: 100px;
    left:200px;
}

#forward2 {
    top: 100px;
    left:500px;
}

#midfielder1 {
    top: 350px;
    left: 100px;
}

#midfielder2 {
    top: 350px;
    left: 300px;
}

#midfielder3 {
    top: 350px;
    left: 500px;
}

#midfielder4 {
    top: 350px;
    left: 650px;
}
#defender1 {
    top: 600px;
    left: 100px;
}
#defender2 {
    top: 600px;
    left: 300px;
}
#defender3 {
    top: 600px;
    left: 500px;
}
#defender4 {
    top: 600px;
    left: 700px;
}
#goalkeeper {
    top: 800px;
    left: 350px;
}
h1 {
    text-align: center;
}