:root {
    box-sizing: border-box;
}

caption {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    margin-bottom: 20px;
}




th, td {
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    color: #64748b;
    border-radius: 10px;
}

th {
    background-color: #f1f5f9;
    color: #0f172a;
    border-radius: 10px;
}